/* 

    Primary: 
    Secondary:
    Background: #34495e
    Success: #2ecc71 #27ae60
    Warning: #e67e22 #d35400
    Danger: #e74c3c #c0392b

*/


body {
    background: #2c3e50;
}

p {
    font-family: 'Roboto', sans-serif;
}

span {
    font-family: 'Roboto', sans-serif;
}

/* Status */

.status-success {
    width: 21px;
    height: 21px;
    border-radius: 20px;
    background: #2ecc71;
    transition: all .3s ease-in;
}

.status-success:hover {
    width: 21px;
    height: 21px;
    border-radius: 20px;
    background: #27ae60;
}

.status-warning {
    width: 21px;
    height: 21px;
    border-radius: 20px;
    background: #e67e22;
    transition: all .3s ease-in;
}

.status-warning:hover {
    width: 21px;
    height: 21px;
    border-radius: 20px;
    background: #d35400;
}

.status-danger {
    width: 21px;
    height: 21px;
    border-radius: 20px;
    background: #e74c3c;
    transition: all .3s ease-in;
}

.status-danger:hover {
    width: 21px;
    height: 21px;
    border-radius: 20px;
    background: #c0392b;
}

/* Cards */

.box-shadow {
    box-shadow: 5px 5px 5px rgba(0, 0, 0,1.0);
}