/* 

    Primary: 
    Secondary:
    Background: #34495e
    Success: #2ecc71 #27ae60
    Warning: #e67e22 #d35400
    Danger: #e74c3c #c0392b

*/

p {
    font-family: 'Roboto', sans-serif;
}

span {
    font-family: 'Roboto', sans-serif;
}

/* Status */

.status-success {
    width: 21px;
    height: 21px;
    border-radius: 20px;
    background: #2ecc71;
    transition: all .3s ease-in;
}

.status-success:hover {
    background: #27ae60;
}

.status-warning {
    width: 21px;
    height: 21px;
    border-radius: 20px;
    background: #e67e22;
    transition: all .3s ease-in;
}

.status-warning:hover {
    background: #d35400;
}

.status-danger {
    width: 21px;
    height: 21px;
    border-radius: 20px;
    background: #e74c3c;
    transition: all .3s ease-in;
}

.status-danger:hover {
    background: #c0392b;
}

/* Cards */

body{
    min-height: 100vh;
    background: rgb(156, 53, 53);
}

.box{
    position: relative;
    background: #2d2f38;
    border-radius: 8px;
    padding-bottom: 20px;
    box-shadow:5px 5px 15px rgba(0, 0, 0, 0.5);
}
.padd{
    padding:40px 40px 60px;

}


.box h5{
    color: #c7c7c7;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

.box .input{
    text-align: left;
    margin-top: 40px;
}

.box .input .inputbox{
    margin-top: 20px;
}

.box .input .inputbox label{
    margin-top: 20px;
    display: block;
    color: #868686;
    margin-bottom: 16px;
    font-size: 18px;
}
.box li{
    margin-top: 20px;
    font-size: 18px;
    background: #131419;
    color: #c7c7c7;
    color: #c7c7c7;
    box-shadow:inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.box li a{
    color: #868686;
}

.box .input .inputbox input{
    
    height: 50px;
    background: #131419;
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
    color: #c7c7c7;
    font-size: 18px;
    color: #c7c7c7;
    box-shadow:inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

/* select{
    width: auto;
} */

.box .input .inputbox select{
    height: 50px;
    background: #131419;
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
    color: #c7c7c7;
    font-size: 18px;
    color: #c7c7c7;
    box-shadow:inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.box .input .inputbox input[type="submit"]{
    margin-top: 20px;
    box-shadow:
                2px 2px 6px rgba(0, 0, 0, 0.8);
}

.box .input .inputbox input[type="submit"]:hover{
    color: red;
    margin-top: 20px;
    box-shadow:
                inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}
.box .input .inputbox input::placeholder{
    color: #555;
    font-size: 18px;
}

.sti{
    position: sticky;
    top: 96px;
}
